@media screen and (max-width: 1024px) {
  .basket__container {
    align-items: center;
    flex-direction: column;
  }
  .basket {
    width: 90%;
    margin-right: 20px;
    margin-left: 20px;
  }

  .basket__info-item {
    p {
      font-size: 15px;
    }
  }
  .basket__buy {
    height: 40px;
    width: 165px;
    p {
      font-size: 15px;
    }
  }

  .basket__info-item {
    margin-bottom: 10px;
  }

}

@media screen and (min-width: 1023px) {
  .basket__container {
    flex-direction: row;
    justify-content: center;
  }

  .basket__footer {
    padding-top: 142px;
    padding-left: 40px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .basket {
    width: 700px;
  }

  .basket__info-item {
    p {
      font-size: 18px;
    }
  }
  .basket__buy {
    height: 50px;
    width: 185px;
    p {
      font-size: 18px;
    }
  }

  .basket__info-item {
    margin-bottom: 15px;
  }

}

.basket {
  flex-direction: row;
  padding-top: 100px;
  &__header {
    display: flex;
    justify-content: center;
    p {
      font-family: Courier New, sans-serif;
      font-size: 20px;
    }
  }

  &__body {
    padding-top: 20px;
  }

  &__footer {
    height: 152px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

  &__empty {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    p {
      font-family: Courier New, sans-serif;
      font-size: 20px;
    }
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    cursor: pointer;
    transition: .3s ease-out;
    &:active {
      transform: scale(1.02);
    }

    p {
      font-family: Courier New, sans-serif;
      color: $white;
    }
  }

  &__info-item {
    display: flex;
    flex-direction: row;
    p {
      font-family: Courier New, sans-serif;
    }
  }

  &__amount{
    margin-left: 10px;
  }

  &__container {
    height: calc(100vh - 71px);
    display: flex;
  }
}

