.header{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: calc(100% - 55px);
  background-color: $white;
  padding: 20px 30px;
  border-bottom: 1px solid $black;
  z-index: 100;
  p {
    font-family: Courier New, sans-serif;
    font-size: 20px;
    color: $black;
    text-decoration: none;
  }
  &__basket {
    img {
      height: 35px;
      cursor: pointer;
    }
  }
}