.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 120px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  &__count {
    position: fixed;
    display: flex;
    flex-direction: row;
    right: 20px;
    bottom: 20px;
    background-color: $black;
    height: 50px;
    width: 200px;
    transition: .3s ease-out;
    z-index: 11;
    img {
      height: 27px;
      padding-top: 10px;
      padding-left: 10px;
    }
  }
}

.name {
  padding-top: 17px;
  padding-left: 15px;
  font-family: "Courier New", sans-serif;
  color: $white;
}

.sum {
  padding-top: 18px;
  padding-left: 10px;
  font-family: "Courier New", sans-serif;
  color: $white;
}

